* {
	background: #9E9E9E; /* Couleur de fond */
}

h1 {
	color: 	#FF0000; /* Couleur du texte pour H1 */
	font-family: Verdana, sans-serif; /* Police d'écriture */
	text-align: center;
	text-decoration: underline;
	padding: 10px;
	border-radius: 40px;
	background: #CECECE;
}

ul {
    display: flex; /* Déclare le style flex */
    flex-direction: row; /* La direction suit une ligne */ 
    flex-wrap: wrap;  /* Les éléments flexibles sont disposé sur plusieurs lignes */
}

li {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 39px; 
	height: 39px;
	border: 1px dotted #FEFEFE; /* Bordure */
	background: #CECECE;
	color: #FF0000;
}
