* {
	background: #9E9E9E; /* Couleur de fond */
}

h1 {
	color: 	#FF0000; /* Couleur du texte pour H1 */
	font-family: 'Comic Sans MS', cursive; /* Police d'écriture */
	text-align: center;
	text-decoration: underline;
}

ul {
    display: flex; /* Déclare le style flex */
    flex-direction: row; /* La direction suit une ligne */ 
    flex-wrap: wrap;  /* Les éléments flexibles sont disposé sur plusieurs lignes */
}

p {
    text-align: center; /* Texte centrer */
	width: 40px; 
	height: 40px;
	border: 1px dotted #FEFEFE; /* Bordure */
}
